<div class="card m-2" style="border-radius: 18px; color: darkgreen; border-color: darkolivegreen;">
    <div class="card-header">
        <h5 style="color:darkgreen;" class="title font-weight-bold">Edit Info</h5>
    </div>

    <div class="card-body">

        <form [formGroup]="userEditForm">

            <div class="row">

                <div class="col-4">
                    <div class="mb-3">
                        <label for="firstName">First Name</label>
                        <div class="form-group">
                            <input type="text" id="firstName" class="form-control" formControlName="firstName" />
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div class="mb-3">
                        <label for="lastName">Last Name</label>
                        <div class="form-group">
                            <input type="text" id="lastName" class="form-control" formControlName="lastName" />
                        </div>
                    </div>
                </div>

                <div class="mb-4">
                    <label for="email">E-mail</label>
                    <div class="form-group">
                        <input type="email" id="email" class="form-control" formControlName="email" />
                    </div>
                </div>

            </div>

        </form>

    </div>

    <div class="card-footer">
        <button class="btn btn-fill btn-success" (click)="edit()">EDIT</button>
    </div>

</div>