<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-info m-4"
  role="status"
></div>
<ul *ngIf="dataLoaded == true" 
    class="list-group list-group-flush m-4">
    <li class="list-group-item disabled p-3" 
    style="background-color: lightblue; border-radius: 10px">
    Brands
    </li>
  <li
    (click)="setCurrentBrand(brand)"
    routerLink = "/cars/brand/{{brand.brandId}}"
    *ngFor="let brand of brands"
    [class]="getBrandClass(brand)"
  >
    {{ brand.name }}
  </li>
</ul>
