<div class="content m-4" style="border-radius:24px; color: darkgreen; border-color: darkolivegreen;">
    <div class="col-md-12">
        <div class="card">

            <div class="card-header">
                <h5 class="title">Update Brand</h5>
            </div>

            <div class="card-body">

                <form [formGroup]="brandUpdateForm">
                    <div class="mb-3">
                        <label for="brandNameInput" class="form-label">Brand</label>
                        <input type="text" class="form-control" id="brandNameInput" formControlName="name" />
                    </div>
                </form>
                <button class="btn btn-outline-success float-end" type="button" (click)="update()">
                    UPDATE
                </button>
            </div>
        </div>
    </div>
</div>