<div class="content">
    <div class="col-md-12">
        <div class="card">

            <div class="card-header">
                <h5 class="title">Add Car</h5>
            </div>

            <div class="card-body">

                <form [formGroup]="carAddForm">

                    <div class="mb-2">
                        <label for="brandName">Brand</label>
                        <div class="form-group">
                            <select class="form-select">
                                <option [value]="brand.brandId" *ngFor="let brand of brands">
                                  {{ brand.name }}
                                </option>
                              </select>
                        </div>
                    </div>

                    <div class="mb-2">
                        <label for="colorName">Color</label>
                        <div class="form-group">
                            <select class="form-select">
                                <option [value]="color.colorId" *ngFor="let color of colors">
                                  {{ color.name }}
                                </option>
                              </select>
                        </div>
                    </div>

                    <div class="mb-2">
                        <label for="modelYear">Model Year</label>
                        <div class="form-group">
                            <input type="number" id="modelYear" formControlName="modelYear" class="form-control"
                                placeholder="modelYear" />
                        </div>
                    </div>

                    <div class="mb-2">
                        <label for="dailyPrice">Daily Price</label>
                        <div class="form-group">
                            <input type="number" id="dailyPrice" formControlName="dailyPrice" class="form-control"
                                placeholder="dailyPrice" />
                        </div>
                    </div>

                    <div class="mb-2">
                        <label for="description">description</label>
                        <div class="form-group">
                            <input type="text" id="description" formControlName="description" class="form-control"
                                placeholder="description" />
                        </div>
                    </div>

                    <div class="mb-2">
                        <label for="findexScore">Findex Score</label>
                        <div class="form-group">
                            <input type="number" id="dailyPrice" formControlName="dailyPrice" class="form-control"
                                placeholder="dailyPrice" />
                        </div>
                    </div>

                </form>

                <!-- <form [formGroup]="carImageForm">

                    <div class="mb-2">
                        <label for="carImages">
                            <div class="form-group">
                                <input type="image">
                            </div>
                        </label>
                    </div>

                </form>  -->


            </div>


            <div class="card-footer">
                <button class="btn btn-outline-info float-end" type="button" (click)="add()">
                    Add
                </button>
            </div>
            
        </div>
    </div>
</div>