<main class="m-2">
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      </div>

      <div class="carousel-inner">

        <div class="carousel-item active">
          <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
  
          <div class="container">
            <div class="carousel-caption text-start">
              <h1 style="font-size:80px;
              font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
              color: lightblue;">Rent a Car</h1>
              <p><a class="btn btn-lg btn-outline-info" routerLink="/login">Sign In Now!</a></p>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

          <div class="container">
            <div class="carousel-caption">
              <h1 style="font-size:80px;
              font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
              color: lightblue;">Here Cars</h1>
              <p><a class="btn btn-lg btn-outline-info"routerLink="/cars">Get In</a></p>
            </div>
          </div>
        </div>

      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  
    <div class="container marketing">
  
      <div class="row">

        <div class="col-lg-4">
          <img class="bd-placeholder-img rounded-circle" 
          width="140" height="140" 
          src="{{imageURL}}/uploads/car2.jpg"
          role="img">
        </div>

        <div class="col-lg-4">
          <img class="bd-placeholder-img rounded-circle" 
          width="140" height="140" 
          src="{{imageURL}}/uploads/luxuryCar.jpg"
          role="img">
        </div>

        <div class="col-lg-4">
          <img class="bd-placeholder-img rounded-circle" 
          width="140" height="140" 
          src="{{imageURL}}/uploads/car3.jpg"
          role="img">
        </div>

        <div class="col-lg-4">
          <img class="bd-placeholder-img rounded-circle" 
          width="140" height="140" 
          src="{{imageURL}}/uploads/car4.jpg"
          role="img">
        </div>

        <div class="col-lg-4">
          <img class="bd-placeholder-img rounded-circle" 
          width="140" height="140" 
          src="{{imageURL}}/uploads/car.jpg" 
          role="img" >
        </div>

        <div class="col-lg-4">
          <img class="bd-placeholder-img rounded-circle" 
          width="140" height="140"
          src="{{imageURL}}/uploads/comfortableCar.jpg"
           role="img" >
        </div>
      </div>
  
    </div>
  </main>