<table *ngIf="rentals" class="table table-striped m-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Car ID</th>
        <th scope="col">Customer ID</th>
        <th scope="col">Rent Date</th>
        <th scope="col">Return Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rental of rentals">
        <th scope="row">{{rental.id}}</th>
        <th scope="row">{{rental.carID}}</th>
        <th scope="row">{{rental.customerID}}</th>
        <th scope="row">{{rental.rentDate}}</th>
        <th scope="row">{{rental.returnDate}}</th>
      </tr>
    </tbody>
  </table>