<div *ngIf="!rentals" class="alert alert-info w-100" role="alert">
  Not exist rentals
</div>

<table *ngIf="rentals" class="table table-striped m-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Brand</th>
        <th scope="col">User</th>
        <th scope="col">Company</th>
        <th scope="col">Rent Date</th>
        <th scope="col">Return Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rental of rentals">
        <th scope="row">{{rental.id}}</th>
        <th scope="row">{{rental.brandName}}</th>
        <th scope="row">{{rental.userName}}</th>
        <th scope="row">{{rental.companyName}}</th>
        <th scope="row">{{rental.rentDate}}</th>
        <th scope="row">{{rental.returnDate}}</th>
      </tr>
    </tbody>
  </table>