<div class="content">
    <div class="col-md-12">
        <div class="card">

            <div class="card-header">
                <h5 class="title">Update Color</h5>
            </div>

            <div class="card-body">

                <form [formGroup]="colorUpdateForm">
                    <div class="mb-3">
                        <label for="colorNameInput" class="form-label">Color</label>
                        <input type="text" class="form-control" id="colorNameInput" formControlName="name" />
                    </div>
                </form>

                <button class="btn btn-outline-info float-end" type="button" (click)="update()">
                    UPDATE
                </button>
            </div>
            
        </div>
    </div>
</div>