<div class="spinner-border text-info" role="status">
  <span class="sr-only">Loading...</span>
</div>
<table class="table table-striped m-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Customer</th>
        <th scope="col">brandName</th>
        <th scope="col">rentDate</th>
        <th scope="col">returnDate</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rental of rentals" >
        <th scope="row">{{rental.id}}</th>
        <td>{{rental.userName}}</td>
        <td>{{rental.brandName}}</td>
        <td>{{rental.rentDate | date:'dd-MM-YYYY'}}</td>
        <td>{{(rental.returnDate == null)? "Not yet delivered!": rental.returnDate | date:'dd-MM-YYYY'}}</td>
      </tr>
    </tbody>
  </table>