<div *ngIf="dataLoaded==false" class="spinner-border text-info" role="status">
</div>
<table *ngIf="dataLoaded==true" class="table table-striped m-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Customer</th>
        <th scope="col">brandName</th>
        <th scope="col">rentDate</th>
        <th scope="col">returnDate</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rental of rentals" >
        <th scope="row">{{rental.id}}</th>
        <td>{{rental.userName}}</td>
        <td>{{rental.brandName}}</td>
        <td>{{rental.rentDate }}</td>
        <td>{{(rental.returnDate == null)? "Not yet delivered!": rental.returnDate}}</td>
      </tr>
    </tbody>
  </table>