<div *ngIf="dataLoaded==false" class="spinner-border text-info" role="status">
</div>
<table *ngIf="dataLoaded==true" class="table m-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">brandName</th>
        <th scope="col">colorName</th>
        <th scope="col">modelYear</th>
        <th scope="col">dailyPrice</th>
        <th scope="col">description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let car of cars">
        <th scope="row">{{car.id}}</th>
        <td>{{car.brandName}}</td>
        <td>{{car.colorName}}</td>
        <td>{{car.modelYear}}</td>
        <td>{{car.dailyPrice}}</td>
        <td>{{car.description}}</td>
      </tr>
    </tbody>
  </table>