<nav class="navbar navbar-expand-lg navbar-light" style="background-color:rgb(218, 240, 240)">
    <div class="container-fluid">
      <a class="navbar-brand p-2" style="background-color:darkseagreen; color:rgb(2, 75, 2); border-radius: 8px;" href="#">ReCap</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse m-2" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto ms-5 mb-lg-0 ">
          <li class="nav-item">
            <a class="nav-link active " aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              All of Them
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Cars</a></li>
              <li><a class="dropdown-item" href="#">Customers</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Brands</a></li>
              <li><a class="dropdown-item" href="#">Colors</a></li>
              <li><a class="dropdown-item" href="#">Rentals</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-warning" type="submit">Search</button>
          <div class="d-flex btn-group ps-4" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
            <label class="btn btn-outline-info" for="btnradio1">Login</label>
            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
            <label class="btn btn-outline-success" for="btnradio2">Register</label>
          </div>
        </form>
      </div>
    </div>
  </nav>
