<div class="content">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="title">Add Color</h5>
            </div>
            <div class="card-body">
                <label for="colorName">colorName</label>
                <form [formGroup]="colorAddForm">
                    <div class="form-group">
                        <input type="text" 
                        id="colorName" 
                        formControlName="colorName" 
                        class="form-control"
                        placeholder="colorName"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>