<div class="row m-2">
    <div class="col col-4">
        <select [(ngModel)]="brandFilter"  class="form-select" aria-label="Default select example">
            <option *ngFor="let brand of brands" [value]="brand.brandId" [selected]="getSelectedBrand(brand.brandId)">{{brand.name}}</option>
          </select>
    </div>
    <div class="col col-4">
        <select [(ngModel)]="colorFilter" class="form-select" aria-label="Default select example">
            <option *ngFor="let color of colors" [value]="color.colorId" [selected]="getSelectedColor(color.colorId)">{{color.name}}</option>
          </select>
    </div>
    <div class="col col-2">
        <a 
        routerLink="/cars/filter/brand/{{brandFilter}}/color/{{colorFilter}}" class="btn btn-info">Filter</a>
        </div>
        <div class="col col-2">
            <a 
            routerLink="/cars" class="btn btn-danger">Clear All</a>
        </div>
</div>