<div *ngIf="!(cars && (brands || colors))" class="alert alert-info w-100" role="alert">
  Not exist cars
</div>

<div class="row m-2" >

  <div class="row m-2" >
    <div class="col col-4">
        <select [(ngModel)]="brandFilter"  class="form-select" aria-label="Default select example">
            <option *ngFor="let brand of brands" [value]="brand.brandId" [selected]="getSelectedBrand(brand.brandId)">{{brand.name}}</option>
          </select>
    </div>
    <div class="col col-4">
        <select [(ngModel)]="colorFilter" class="form-select" aria-label="Default select example">
            <option *ngFor="let color of colors" [value]="color.colorId" [selected]="getSelectedColor(color.colorId)">{{color.name}}</option>
          </select>
    </div>
    <div class="col col-2">
        <a routerLink="/cars/filter/brand/{{brandFilter}}/color/{{colorFilter}}" class="btn btn-info">Filter</a>
        </div>
        <div class="col col-2">
            <a routerLink="/cars" class="btn btn-danger">Clear All</a>
        </div>
</div>

<table *ngIf="cars" class="table m-4">
  <thead>
    <tr>
      <th scope="col" style="background-color: rgb(174, 204, 214); border-radius: 10px">Brand</th>
      <th scope="col" style="background-color: rgb(148, 199, 218); border-radius: 10px">Color</th>
      <th scope="col" style="background-color: rgb(125, 215, 245); border-radius: 10px">Model Year</th>
      <th scope="col" style="background-color: rgb(117, 212, 243); border-radius: 10px">Daily Price</th>
      <th scope="col" style="background-color: rgb(101, 210, 247); border-radius: 10px">Daily Price + VAT</th>
      <th scope="col" style="background-color: rgb(98, 217, 250); border-radius: 10px">Description</th>
      <th scope="col" style="background-color: rgb(77, 215, 253); border-radius: 10px">Findex Score</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let car of cars"
    (click)="setCurrentCar(car)"
    routerLink = "/cars/details/{{car.id}}"
    [class]="getCarClass(car)">
      <td>{{ car.brandName | uppercase }}</td>
      <td>{{ car.colorName}}</td>
      <td>{{ car.modelYear }}</td>
      <td>{{ car.dailyPrice | currency }}</td>
      <td>{{ car.dailyPrice | vatAdded:8 | currency}}</td>
      <td>{{ car.description }}</td>
      <td>{{ car.minFindexScore }}</td>
      <td><button type="button" class="btn btn-success">Get Details</button></td>
    </tr>
  </tbody>
</table>

